<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Edit Meeting</title>
  <link rel="stylesheet" href="normalize.css" />
  <link rel="stylesheet" href="form.css" />


</head>
<body>

<div id="main">
<div id="changes"
<%= render 'form' %>

<%= link_to 'Back', meeting_path, class:'link' %>
<div id="schedule">
  <%= image_tag "unnamed.jpg", alt="Logo of University college Cork" %>
</div>

</div>


</body>

</html>
