<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Create New Meeting</title>
  <link rel="stylesheet" href="form.css" />


</head>
<body>
<div id="meeting">
  <div id="changes">
<%= render 'form' %>

<%= link_to 'Back', meetings_path ,class:'link' %>
    </div>
<div id="schedule">
  <%=image_tag "unnamed.jpg", alt:"Logo of University college Cork"%>
</div>

</div>

</body>

</html>
