#form {
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    width: 45%;
}

#form .button {
    float: right;
    margin-right: -6%;
}

select {
    float:right;
    width:62.5%;
    margin:-9px;
    font-size:18px;
    padding:5px;
}

.h4 {
    margin-left: 5%;
}


#changes .button {
    margin-top: 9%;
}

.button {
    margin-top: 13%;
    margin-left: 8%;
    font-size: 112%;
    background-color:orange;
    opacity: 0.9;
    float: right;
}


#reset .button {
    margin-right: 4%;
}


label {
    display:block;
    margin: -20px;
    width:105%;
    font-size:18px;
    color:white;
    padding:20px 10px 10px 0;
    margin-top: 25px;
}

input {
    float:right;
    width:60%;
    margin:-20px;
    font-size:18px;
    padding:5px;
}

#changes label {
    display:block;
    margin: -20px;
    width:105%;
    font-size:18px;
    color:white;
    padding:20px 10px 10px 0;
    margin-top: 25px;
}

#changes input {
    float:right;
    width:60%;
    margin:-20px;
    font-size:18px;
    padding:5px;
    margin: -40px;
}

input:focus {
    outline:none;
    border-color:white;
}

#main h1 {
    background-color: white;
    padding: 5px;
}

#one1 {
    margin-top: 10%;
    float: left;
    width: 30%;
    margin-left: 5%;
}

#one1 h1 {
    margin-bottom: 20%;
}

#one1 p {
    font-size: 20px;
}

#schedule img {
    float: right;
    width: 40%;
    margin-left: 2%;
    margin-right: 3%;
    height: 75vh;
    margin-bottom: 2%;
}